In [1]:
import pandas

In [2]:
df_final = pandas.read_excel('qualifier-final.xlsx', sheet_name='final')

In [3]:
df_final.describe()

,id,AGE,HEIGHT,WEIGHT,WINGSPAN,X0.10M,X0.30M,X0.40M,X30.40M,TRIPLE.BROAD.JUMP,...,TRIPLE.BROAD.JUMP.1,SINGLE.BROAD.JUMP.1,ABSOLUTE.6SEC.PEAK.POWER.1,RELATIVE.6SEC.PEAK.POWER.1,UB.PUSH.1,UB.PULL.1,LB.PUSH.1,CONCEPT.TOTAL.1,ARM.LEG.BIKE.1,CUMULATIVE..PHYSICAL.TESTS.
count,453.000000,447.000000,452.000000,453.000000,453.000000,452.000000,452.000000,452.000000,453.000000,452.000000,...,4.520000e+02,4.520000e+02,4.520000e+02,452.000000,452.000000,4.530000e+02,4.530000e+02,4.530000e+02,452.000000,453.000000
mean,227.000000,18.605231,175.150553,71.113510,180.186755,1.805487,4.381106,5.608009,1.224194,7.628385,...,3.097345e-11,8.849546e-12,6.637161e-12,0.014307,0.003237,-2.207521e-12,1.103753e-11,1.986756e-11,-0.030899,0.002552
std,130.914094,3.573086,9.855353,13.395978,11.880150,0.150085,0.377395,0.550440,0.212766,1.191573,...,9.988907e-01,9.988907e-01,9.988907e-01,0.952403,0.997618,9.988932e-01,9.988932e-01,9.988932e-01,1.194615,0.645671
min,1.000000,0.000000,148.500000,38.400000,150.000000,1.190000,3.690000,4.670000,0.000000,4.900000,...,-2.605322e+00,-2.939361e+00,-2.608288e+00,-2.636768,-2.626654,-2.757986e+00,-2.521379e+00,-2.511039e+00,-13.966225,-2.428261
25%,114.000000,16.134932,168.000000,61.700000,171.500000,1.700000,4.080000,5.187500,1.110000,6.695000,...,-7.395047e-01,-6.153078e-01,-7.007739e-01,-0.619005,-0.657269,-6.776223e-01,-7.008014e-01,-7.088564e-01,-0.672212,-0.431517
50%,227.000000,18.000000,175.000000,70.600000,180.500000,1.810000,4.340000,5.535000,1.200000,7.610000,...,2.517865e-02,-2.851303e-03,-7.570004e-03,-0.019337,-0.035495,-1.047593e-01,-2.117230e-02,-5.856277e-02,0.046841,0.036637
75%,340.000000,21.000000,181.500000,79.200000,189.000000,1.890000,4.620000,5.932500,1.310000,8.607500,...,7.351411e-01,7.655271e-01,6.404097e-01,0.651456,0.557813,6.304255e-01,6.758272e-01,6.590357e-01,0.733249,0.447457
max,453.000000,29.000000,202.500000,133.600000,211.000000,2.880000,7.060000,11.450000,4.390000,10.290000,...,2.450570e+00,2.446029e+00,3.053596e+00,2.952309,3.209276,3.618091e+00,3.336846e+00,3.272956e+00,2.741049,1.617257

In [4]:
df_BC = pandas.read_excel('qualifier-final.xlsx', sheet_name='BC')

In [5]:
df_BC.describe()

,id,Number.on.Day,Rounded.Age,Age..Yr.,Weight..kg..,Height..cm..,Wingspan..cm.,Vertical.Jump..inches.,Vertical.Jump..cm.,X10m.Sprint..s.,...,Z.Score..IMTP.Males.,Z.Score..20m.Shuttle.,Z.Score..20m.Shuttle.Females.,Z.Score..20m.Shuttle.Males.,Z.Score..Height.,Z.Score..Height.Females.,Z.Score..Height.Males.,Cumulative.Z.Score,Cumulative.Z.Score.Females,Cumulative.Z.Score.Males
count,91.000000,249.000000,494.000000,493.000000,489.000000,488.000000,312.000000,309.000000,485.000000,304.000000,...,2.260000e+02,4.050000e+02,1.650000e+02,2.400000e+02,487.000000,212.000000,275.000000,487.000000,210.000000,277.000000
mean,212.681319,46.815261,16.457490,16.847667,67.122904,173.391803,175.787500,22.525081,58.606965,2.468224,...,6.995388e-16,-4.122902e-16,1.378022e-15,3.034610e-16,0.028781,-0.000471,0.047805,-0.035299,-0.052215,-0.011959
std,144.697376,27.879602,5.132051,5.105896,14.713606,12.370855,14.478273,5.013345,12.150110,9.988332,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.772660,0.998316,0.608769,0.876717,0.820008,0.738366
min,1.000000,1.000000,0.000000,10.000000,0.000000,0.000000,23.900000,1.950000,26.416000,1.610000,...,-2.351592e+00,-3.169871e+00,-2.674389e+00,-3.375312e+00,-2.052550,-2.626123,-2.056390,-3.983435,-3.885168,-2.179423
25%,71.500000,23.000000,15.000000,15.000000,57.800000,167.000000,169.000000,19.200000,50.038000,1.780000,...,-6.347229e-01,-6.064213e-01,-6.129858e-01,-4.887322e-01,-0.512641,-0.686735,-0.359621,-0.636407,-0.471156,-0.445896
50%,191.000000,44.000000,16.000000,16.000000,66.800000,173.350000,175.500000,21.800000,56.896000,1.870000,...,-1.309787e-02,3.048516e-02,1.580114e-01,3.346321e-02,0.000663,-0.071481,0.013742,0.063705,0.004769,0.010406
75%,351.500000,72.000000,17.000000,17.904110,74.500000,180.200000,183.525000,26.000000,67.310000,1.990000,...,5.197236e-01,7.781579e-01,6.043781e-01,6.233506e-01,0.550342,0.650774,0.457342,0.644467,0.500985,0.514622
max,442.000000,99.000000,116.000000,116.717317,185.000000,202.000000,212.000000,36.300000,92.202000,176.000000,...,2.887819e+00,2.360534e+00,2.349266e+00,2.412353e+00,2.312548,3.506878,1.788141,1.902493,1.668166,1.751028

In [7]:
df_name = pandas.read_excel('nom-name.xlsx', sheet_name='ON')

In [8]:
df_name.describe()

,id,Judo,Triathlon,Ski.Cross,Water.Polo,Freestyle.,NSO.Contacted.Athlete.,Comments
count,75.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,278.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,73.609268,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,199.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,221.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,246.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,327.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,444.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN